<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1, minimal-ui'>

        <meta name='author' content='Shane Reustle'>
        <meta name='description' content='FEIE Calc is a tool for users to see if they qualify for the US Foreign Earned Income Exemption, and how much they are eligible to save.'>

        <title>FEIE Calc · A US Foreign Earned Income Tax Exemption calculator</title>

        <!-- Styles from CDN -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css'>
        
        <!-- Local Styles -->
        <link rel='stylesheet' href='/static/lib/bootstrap-year-calendar.min.css'>
        
        <style type='text/css'>
            .header {
                margin: 20px 0px;
            }
            .footer-text {
                margin: 30px 0px 40px 0px;
                text-align: center;
                font-size: 12px;
                color: #888;
            }
        </style>
    </head>
    <body>

        <div class='container'>
            <div class='row'>
                <div class='col-md-10 col-md-offset-1'>
                    
                    <div class='header'>
                        <h3>FEIE Calc</h3>
                    </div>
                    
                    <p class='lead'>
                        A <a href='https://www.irs.gov/instructions/i2555/ch02.html#d0e275'>Physical Presence Test</a> calculator for the <a href='https://www.irs.gov/individuals/international-taxpayers/foreign-earned-income-exclusion'>US Foreign Earned Income Tax Exemption</a>. Begin by selecting a date on the calendar and dragging.
                    </p>
                    
                    <!-- if trips.length > 1 -->
                    <div id='progress'></div>
                    
                    <div id='calendar'><center>Loading...</center></div>
                    
                </div>
            </div>
            
            <div class='row'>
                <div class='col-md-12 footer-text'>
                    Built by <a href='http://reustle.org'>Shane Reustle</a>
                </div>
            </div>
        </div>
        
        <div class='modal fade' role='dialog' id='trip-modal'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                        <h4 class='modal-title'>Trip Details</h4>
                    </div>
                    <div class='modal-body'>
                        <select data-field='trip-country'></select>
                    </div>
                    <div class='modal-footer'>
                        <div class='pull-left delete-trip'>
                            <button type='button' class='btn btn-danger' data-action='delete'>Delete Trip</button>
                        </div>
                        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                        <button type='button' class='btn btn-primary' data-action='save'>Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script type='text/template' id='template-trip-form'>
            <div class='form-group'>
                <label class='control-label'>Country Visited</label>
                <select data-field='trip-country' class='form-control selectpicker' data-live-search='true'>
                    <option value='' disabled selected>Which country did you visit?</option>
                    <% countries.forEach(function(country){ %>
                        <option value='<%= country.code.toLowerCase() %>'><%= country.name %></option>
                    <% }) %>
                </select>
            </div>
            
            <input type='hidden' data-field='trip-id'/>
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <label class='control-label'>Arrival Date</label>
                        <input data-field='trip-start-date' type='text' class='form-control' placeholder='yyyy-mm-dd'/>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <label class='control-label'>Departure Date</label>
                        <input data-field='trip-end-date' type='text' class='form-control' placeholder='yyyy-mm-dd'/>
                    </div>
                </div>
            </div>
        </script>
        
        <script type='text/template' id='template-progress'>
            <div class='progress'>
                <div class='progress-bar' role='progressbar' style='width: <%= progress %>%; min-width: 100px;'>
                    <%= dayCount %> / <%= targetCount %> days
                </div>
            </div>
        </script>
        
        <!-- Scripts from CDN -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js'></script>
        
        <!-- Local Scripts -->
        <script src='/static/lib/bootstrap-year-calendar.min.js'></script>
        
        <!-- Our scripts -->
        <script src='static/countries.js'></script>
        <script src='static/utils.js'></script>
        <script src='static/main.js'></script>
        
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-2580539-36', 'auto');
            ga('send', 'pageview');
        </script>
        
    </body>
</html>

