/* new primary 2c8fc9 */

/* Header */
.intro-container {
    background: url('/static/header.jpg');
    background-size: cover;
    background-position: center top;
    min-height: 315px;
    margin-bottom: 15px;

    box-shadow: inset 0px -50px 100px -41px #ABABAB;
    -webkit-box-shadow: inset 0px -50px 100px -41px #ABABAB;
    -moz-box-shadow: inset 0px -50px 100px -41px #ABABAB;
    
}

.intro-container h2 {
    margin-top: 50px;
    margin-left: 15px;
}
.intro-container p {
    font-size: 24px;
    background: rgba(255,255,255,0.7);
    padding: 15px;
    margin-bottom: 40px;
}

h3 {
    margin: 20px 0px;
}
.builtby {
    margin-top: 12px;
}
.builtby h4 {
    font-weight: 400;
    font-size: 18px;
}
.actions-container {
    margin-bottom: 15px;
}

#calendar {
    margin-bottom: 50px;
}

.settings-well h4 {
    margin-top: 0px;
}

.results-container table {
    font-size: 14px;
}

.pub-54 {
    margin-top: 50px;
}

.footer-text {
    margin: 30px 0px 40px 0px;
    text-align: center;
    font-size: 12px;
    color: #888;
}

/* Overrides */
.btn, .form-control, .well, .progress, .alert, .modal-content {
    border-radius: 0px;
}
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    min-width: 100px;
}

